@use "../pages-styles/rules";
@use "../components/header";
@use "../components/footer";
@use "../components/features.scss";
@use "../components/faq-section.scss";
@use "../components/testimonials.scss";
@use "../components/footer-cta.scss";
@use "../components/cta-card.scss";
@use "../components/hero-invest.scss";
@use "../pages-styles/home";
@use "../pages-styles/how-invest.scss";
@use "../pages-styles/contacts-us.scss";
@use "../pages-styles/who-are-we.scss";


// start header
.header {
    .nav-item {
        .dropdown--menu {
            padding: 10px !important;
            
            .dropdown-link {
                font-size: 12px !important; 
            }
        }
    }
}
// end header


// start hero section
.mini-box {
    left: auto !important;
    right: 24px !important;
}
// end hero section

// start cta-card
.cta-card {
    .cta-card-content {
        background-position: right, center !important;
    }
}
// end cta-card

// start faq-section 
.faq-section {
    .accordion-item {
        .accordion-button {
            text-align: left !important;
            &::after {
                right: 15px !important;
                left: auto !important;
            }
        }
    }
}
// end faq-section