$main-color: #EBE645;
$second-color: #577BC1;
$third-color: #000957;

// start faq-section
.faq-section {
    padding: 50px 0;

    .title-faq {
        font-size: 35px;
        font-weight: 700;
        color: #000957;
        text-align: center;
        margin-bottom: 50px;
    }

    .faq-content {
        width: 75%;
        margin: auto;
        box-shadow: 0 10px 15px #00000029;
        border-radius: 10px;

        .accordion-item {
            .accordion-button {
                color: $third-color;
                font-weight: 600;
                text-align: right;

                &::after {
                    position: absolute;
                    left: 15px;
                }
            }
            
        }
    }
}

@media(max-width: 767px) {
    .faq-section {
        padding: 20px 0 !important;

        .title-faq  {
            font-size: 23px !important;
            margin-bottom: 20px !important;
        }

        .faq-content {
            width: 95% !important;
    
            .accordion-item {
                .accordion-button {
                    font-size: 14px !important;
                }

                .accordion-body {
                    font-size: 14px !important;
                }
            }
        }
    }
}
// end faq-section